[submodule "src/basho"]
	path = src/basho
	url = https://github.com/dmikey/basho.git
[submodule "src/haridashi"]
	path = src/haridashi
	url = https://github.com/dmikey/haridashi.git
[submodule "src/gunbai"]
	path = src/gunbai
	url = https://github.com/dmikey/gunbai.git
